:root {
  --deep-roast: #3c2a21;
  --velvet-cream: #94855d;
  --golden-caramel: #d4a373;
  --forest-sage: #6b8d73;
  --text-light: #ffffff;
  --light-coffee: #f7ebdd; /* lighter background */
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--light-coffee);
  color: var(--deep-roast);
}

/* --- NAVBAR --- */
.navbar {
  background-color: var(--deep-roast);
  color: var(--text-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 5%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 45px;
  height: 45px;
}

.logo h1 {
  font-size: 1.2rem;
  color: var(--velvet-cream);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: var(--velvet-cream);
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: var(--golden-caramel);
}

.logout {
  color: var(--golden-caramel);
}

/* --- DASHBOARD --- */
.dashboard {
  padding: 2rem 5%;
}

.dashboard h2 {
  margin-bottom: 2rem;
  color: var(--deep-roast);
}

.card-body {
  height: 45px;
}

.card-body button {
  font-size: 1rem;
  transform: all 0.25s ease;
  transition: transform 0.3s ease;
}

.card-body button:hover {
  transform: scale(1.1);
}

/* cards */
.product-card {
  height: 100%;
  background-color: var(--text-light);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(60, 42, 33, 0.2);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(60, 42, 33, 0.3);
}

.product-img {
  width: 100%;
  height: 220px;
  object-fit: contain;
  background-color: var(--text-light);
  padding: 10px;
}

/* === Product Action Buttons === */
.product-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.edit-btn,
.delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  border: none;
  border-radius: 8px;
  color: var(--text-light);
  padding: 0.5rem;
  font-weight: 600;
  letter-spacing: 0.3px;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.edit-btn {
  background-color: var(--golden-caramel);
}

.edit-btn:hover {
  background-color: var(--forest-sage);
  color: var(--deep-roast);
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(212, 163, 115, 0.4);
}

.delete-btn {
  background-color: var(--deep-roast);
  margin-bottom: 1.2rem;
}

.delete-btn:hover {
  background-color: #5a3b2e;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(60, 42, 33, 0.4);
}

#Coffee,
#Cultural,
#Seasonal {
  background-color: var(--forest-sage);
}
/* --- RESPONSIVE --- */
@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
